//placeholder texts
::placeholder { /* Firefox, Chrome, Opera */
    color: #343434;
    font-size: 0.5em;
    vertical-align: middle;
    line-height: 2.5em;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #343434;
    font-size: 0.5em;
    vertical-align: middle;
    line-height: 2.5em;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #343434;
    font-size: 0.5em;
    vertical-align: middle;
    line-height: 2.5em;
}

//end

input[type=submit] {
    transform: translateX(-50%);
    position: relative;
    left: 50%;

    @media only screen and (max-width: 800px) {
        transform: none;
        position: static;
        left: 0;
    }
}

//Input textfield
input[type=text],
input[type=email],
input[type=number] {
    border-radius: 25px;
    display: inline;
    height: 1.5em;
    width: calc(100% - 25px);
    font-size: 1.5em;
    padding: 0 0 0 25px;
    background: transparent;
    border: solid 1px white;
    color: white;

    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;

    outline: none;

    transition: box-shadow .3s;

    &:focus {
        -webkit-box-shadow: 0 0 0 2px var(--accent-yellow);
        -moz-box-shadow: 0 0 0 2px var(--accent-yellow);
        box-shadow: 0 0 0 2px var(--accent-yellow);
    }
}

//file input label styling
input[type=file] {
    display: block;
    opacity: 0;
    position: absolute;
    z-index: -10;

    & ~ label {
        border-radius: 50px;
        background-color: var(--accent-yellow);
        color: white;
        text-decoration: none;
        padding: 0 0.5em;
        //min-width: 200px;
        display: inline-block;
        text-align: center;
        //font-size: 1.3em;
        //margin: 1em 0;
        border: 1px var(--accent-yellow) solid;
        transition: background-color .3s, color .3s;
        box-shadow: 7px 14px 50px rgba(64, 21, 89, 0.2);
        position: relative;
        bottom: 1px;
        right: -1px;
        height: 1.3em;

        &:hover,
        &:active {
            background-color: white;
            color: var(--accent-yellow);
        }
    }
}

//styling file loading button
.file-load-group {
    border-radius: 25px;
    display: inline-flex;
    height: 1.3em;
    width: 90%;
    font-size: 1.5em;
    padding: 0 0 0 25px;
    background: transparent;
    border: solid 1px white;
    color: white;
    justify-content: space-between;

    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;

    outline: none;

    transition: box-shadow .3s;

    position: relative;
    transform: translateX(-50%);
    left: 50%;

    &:focus {
        -webkit-box-shadow: 0 0 0 2px var(--accent-yellow);
        -moz-box-shadow: 0 0 0 2px var(--accent-yellow);
        box-shadow: 0 0 0 2px var(--accent-yellow);
    }

    span {
        font-size: 0.5em;
        vertical-align: middle;
        line-height: 2.5em;
        white-space: nowrap;
    }
}

//base radio button labels for sex radio buttons (submit_photo.html)
.sex-radio-label {
    display: inline-block;
    border-radius: 15px;
    background: white;
    color: black;
    cursor: pointer;
    width: 100px;
    text-align: center;
    transition: background-color .3s, border-color .3s;
    font-size: 1.2em;
}

input[type=radio] {
    opacity: 0;
}

.male {
    background: var(--sex-male);
    border: 3px solid var(--sex-male);

    &:hover {
        border-color: var(--sex-alt-male);
    }
}

.female {
    background: var(--sex-female);
    border: 3px solid var(--sex-female);

    &:hover {
        border-color: var(--sex-alt-female);
    }
}

.both {
    background: var(--sex-both);
    border: 3px solid var(--sex-both);

    &:hover {
        border-color: var(--sex-alt-both);
    }
}

//male lable active
#male:checked + .sex-radio-label {
    background: var(--sex-alt-male);
}

//female label checked
#female:checked + .sex-radio-label {
    background: var(--sex-alt-female);
}

//both label checked
#both:checked + .sex-radio-label {
    background: var(--sex-alt-both);
}

//textarea input
textarea {
    display: block;
    border-radius: 25px;
    width: 80%;
    background: transparent;
    border: solid 1px white;
    padding: 0 25px;
    resize: none;
    color: white;
    font-size: 1.5em;
    font-family: inherit;
    font-weight: inherit;

    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;

    outline: none;

    transition: box-shadow .3s;

    &:focus {
        -webkit-box-shadow: 0 0 0 2px var(--accent-yellow);
        -moz-box-shadow: 0 0 0 2px var(--accent-yellow);
        box-shadow: 0 0 0 2px var(--accent-yellow);
    }
}

//basic labels
.basic-label {
    display: block;
    font-size: 1.3em;
    color: white;
    margin: 0.3em;
}
