.round-button {
    border-radius: 50px;
    background-color: var(--accent-yellow);
    color: white;
    text-decoration: none;
    padding: 0.2em 0.5em;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    font-size: 1.3em;
    margin: 1em 0;
    border: 2px var(--accent-yellow) solid;
    transition: background-color .3s, color .3s;
    box-shadow: 7px 14px 50px rgba(64, 21, 89, 0.2);

    &:hover,
    &:active {
        background-color: white;
        color: var(--accent-yellow);
    }
}

.button-red {
    background-color: var(--button-red);
    border: 2px var(--button-red) solid;

    &:hover,
    &:active {
        background-color: white;
        color: var(--button-red);
    }
}

.button-green {
    background-color: var(--button-green);
    border: 2px var(--button-green) solid;

    &:hover,
    &:active {
        background-color: white;
        color: var(--button-green);
    }
}

h2 {
    font-size: 3em;
    color: white;
    margin-bottom: .2em;
    margin-top: .2em;
}

h3 {
    font-size: 2em;
    color: white;
    margin-bottom: .2em;
    margin-top: .2em;
}

.fs-2 {
    font-size: 2em;
}

.blend-hard-light {
    mix-blend-mode: hard-light;
}

ul {
    color: white;
    text-decoration: none;
    li {

    }
}

.dp{
    color:white;
    font-size: 1.5em;
}
