.grid-a-left {
    grid-area: left;
}

.grid-a-right {
    grid-area: right;
}

.grid-m-top {
    @media only screen and (max-width: 800px) {
        grid-area: top;
    }
}

.grid-m-bottom {
    @media only screen and (max-width: 800px) {
        grid-area: bottom;
    }
}

.content {
    //Style
    //background: {% %};
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    @media only screen and (max-width: 800px) {
        height: unset;
    }

    &-grid {
        display: grid;
        grid-gap: 2em;
        position: relative;
        grid-template-columns: 1fr 1fr;
        padding: 0 2em;
        height: 100%;
        grid-template-areas: 'left right';

        @media only screen and (max-width: 800px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 200px;
            text-align: center;
            grid-gap: 0;
            grid-template-areas: 'top' 'bottom';
            padding: 60px 0 0 0;
        }

        .description-wraper {
            height: 100%;

            .description {

                position: relative;
                top: 50%;
                transform: translateY(-50%);
                @media only screen and (max-width: 800px) {
                    top: 0;
                    transform: none;
                }

                span {
                    position: relative;
                    top: 40%;
                    color: white;
                    font-size: 1em;
                }

                .button-group {
                    position: relative;
                    top: 40%;
                    bottom: 0;
                }
            }
        }

        .image-wraper {
            height: 100%;

            @media only screen and (max-height: 800px) {
                height: fit-content;
            }

            .image {
                display: block;
                position: relative;
                width: 80%;
                margin: auto;
                padding: 0;
                top: 50%;
                transform: translateY(-50%);

                @media only screen and (max-width: 800px) {
                    top: 0;
                    transform: none;
                    width: 60%;
                }

            }
        }

        .submit-photo-image {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            @media only screen and (max-width: 800px) {
                top: 0;
                transform: none;
            }

            .image-loaded {
                background: white;
                min-width: 100%;
                height: auto;
            }
        }
    }
}
