.content {
    //Style
    //background: {% %};
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    @media only screen and (max-width: 800px) {
        height: unset;
    }

    &-grid {
        display: grid;
        grid-gap: 2em;
        position: relative;
        grid-template-columns: 1fr 1fr;
        padding: 0 2em;
        height: 100%;
        grid-template-areas: 'text photo';

        @media only screen and (max-width: 800px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 3fr;
            text-align: center;
            grid-gap: 0;
            grid-template-areas: 'photo' 'text';
            padding: 0;
        }

        .description-wraper {
            height: 100%;
            grid-area: text;

            .description {

                position: relative;
                top: 50%;
                transform: translateY(-50%);
                @media only screen and (max-width: 800px) {
                    top: 0;
                    transform: none;
                }

                span {
                    position: relative;
                    top: 40%;
                    color: white;
                    font-size: 1em;
                }

                .button-group {
                    position: relative;
                    top: 40%;
                    margin: 2em;
                    bottom: 0;
                }
            }
        }

        .image-wraper {
            height: 100%;
            grid-area: photo;

            @media only screen and (max-height: 700px) {

            }

            .image {
                display: block;
                position: relative;
                width: 80%;
                margin: auto;
                padding: 0;
                top: 50%;
                transform: translateY(-50%);

                @media only screen and (max-width: 800px) {
                    top: 0;
                    transform: none;
                    width: 60%;
                }

            }
        }

        .submit-photo-image {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            .image-loaded {
                background: white;
                min-width: 100%;
                height: auto;
            }
        }
    }
}
