#loadedImage {
    margin-bottom: 2em;
    display: block;
    max-width: 80%;
    max-height: 80%;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    z-index: 5;
    isolation: isolate;

}

.adaptive-image {
    margin-bottom: 2em;
    display: block;
    max-width: 80%;
    max-height: 80%;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    z-index: 5;
    isolation: isolate;

}
