:root {
    //Colors
    --background-pink: #fb7bc6;
    --background-yellow: #ee941a;

    --accent-yellow: #ffbf00;
    --accent-red: #f26d7d;

    --sex-male: #5e85ff;
    --sex-alt-male: #6551ff;
    --sex-female: #ff71a5;
    --sex-alt-female: #ff3c5c;
    --sex-both: #e0e0e0;
    --sex-alt-both: #b9b9b9;

    --button-red: #ff6e78;
    --button-green: #a1ff8a;

    --grey: #4a4a4a;


    //measures
    --navbar-heigth: 7vh;
}
