:root {
    //Colors
    --background-pink: #fb7bc6;
    --background-yellow: #ee941a;

    --accent-yellow: #ffbf00;

    --sex-male: #4963c5;
    --sex-alt-male: #5e85ff;
    --sex-female: #c1557e;
    --sex-alt-female: #ff70a5;
    --sex-both: #a1a1a1;
    --sex-alt-both: #c5c5c5;

    //measures
    --navbar-heigth: 7vh;
}
