@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --background-pink: #fb7bc6;
  --background-yellow: #ee941a;
  --accent-yellow: #ffbf00;
  --accent-red: #f26d7d;
  --sex-male: #4963c5;
  --sex-alt-male: #5e85ff;
  --sex-female: #c1557e;
  --sex-alt-female: #ff70a5;
  --sex-both: #a1a1a1;
  --sex-alt-both: #c5c5c5;
  --navbar-heigth: 7vh;
}

.round-button {
  border-radius: 50px;
  background-color: var(--accent-yellow);
  color: white;
  text-decoration: none;
  padding: 0.2em 0.5em;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  margin: 1em 0;
  border: 2px var(--accent-yellow) solid;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 7px 14px 50px rgba(64, 21, 89, 0.2);
}
.round-button:hover, .round-button:active {
  background-color: white;
  color: var(--accent-yellow);
}

h2 {
  font-size: 3em;
  color: white;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

h3 {
  font-size: 2em;
  color: white;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.fs-2 {
  font-size: 2em;
}

.blend-hard-light {
  mix-blend-mode: hard-light;
}

ul {
  color: white;
  text-decoration: none;
}
.content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.content-grid {
  display: grid;
  grid-gap: 2em;
  position: relative;
  grid-template-columns: 1fr 1fr;
  padding: 0 2em;
  height: 100%;
  margin-left: 2em;
}
.content-grid .description-wraper {
  height: 100%;
}
.content-grid .description-wraper .description {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.content-grid .description-wraper .description span {
  position: relative;
  top: 40%;
  color: white;
  font-size: 1em;
}
.content-grid .description-wraper .description .button-group {
  position: relative;
  top: 40%;
  margin: 2em;
  bottom: 0;
}
.content-grid .image-wraper {
  height: 100%;
}
.content-grid .image-wraper .image {
  display: block;
  position: relative;
  width: 80%;
  margin: auto;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}
.content-grid .submit-photo-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.content-grid .submit-photo-image .image-loaded {
  background: white;
  min-width: 100%;
  height: auto;
}

::placeholder {
  /* Firefox, Chrome, Opera */
  color: #343434;
  font-size: 0.5em;
  vertical-align: middle;
  line-height: 2.5em;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #343434;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #343434;
}

input[type=text] {
  border-radius: 25px;
  display: inline;
  height: 1.5em;
  width: 80%;
  font-size: 1.5em;
  padding: 0 25px;
  background: grey;
  border: solid 1px white;
  color: white;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  outline: none;
  transition: box-shadow 0.3s;
}
input[type=text]:focus {
  -webkit-box-shadow: 0 0 0 2px var(--accent-yellow);
  -moz-box-shadow: 0 0 0 2px var(--accent-yellow);
  box-shadow: 0 0 0 2px var(--accent-yellow);
}

input[type=file] {
  display: none;
}
input[type=file] ~ label {
  border-radius: 50px;
  background-color: var(--accent-yellow);
  color: white;
  text-decoration: none;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  border: 1px var(--accent-yellow) solid;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 7px 14px 50px rgba(64, 21, 89, 0.2);
  position: relative;
  bottom: 1px;
  right: -1px;
  height: 1.3em;
}
input[type=file] ~ label:hover, input[type=file] ~ label:active {
  background-color: white;
  color: var(--accent-yellow);
}

.file-load-group {
  border-radius: 25px;
  display: inline-flex;
  height: 1.3em;
  width: 80%;
  font-size: 1.5em;
  padding: 0 0 0 25px;
  background: grey;
  border: solid 1px white;
  color: white;
  justify-content: space-between;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  outline: none;
  transition: box-shadow 0.3s;
}
.file-load-group:focus {
  -webkit-box-shadow: 0 0 0 2px var(--accent-yellow);
  -moz-box-shadow: 0 0 0 2px var(--accent-yellow);
  box-shadow: 0 0 0 2px var(--accent-yellow);
}
.file-load-group span {
  font-size: 0.5em;
  vertical-align: middle;
  line-height: 2.5em;
}

.sex-radio-label {
  display: inline-block;
  border-radius: 15px;
  background: white;
  color: black;
  cursor: pointer;
  width: 100px;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 1.2em;
}

.male {
  background: var(--sex-male);
  border: 3px solid var(--sex-male);
}
.male:hover {
  border-color: var(--sex-alt-male);
}

.female {
  background: var(--sex-female);
  border: 3px solid var(--sex-female);
}
.female:hover {
  border-color: var(--sex-alt-female);
}

.both {
  background: var(--sex-both);
  border: 3px solid var(--sex-both);
}
.both:hover {
  border-color: var(--sex-alt-both);
}

#male:checked + .sex-radio-label {
  background: var(--sex-alt-male);
}

#female:checked + .sex-radio-label {
  background: var(--sex-alt-female);
}

#both:checked + .sex-radio-label {
  background: var(--sex-alt-both);
}

textarea {
  display: block;
  border-radius: 25px;
  width: 80%;
  background: grey;
  border: solid 1px white;
  padding: 0 25px;
  resize: none;
  color: white;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: inherit;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  outline: none;
  transition: box-shadow 0.3s;
}
textarea:focus {
  -webkit-box-shadow: 0 0 0 2px var(--accent-yellow);
  -moz-box-shadow: 0 0 0 2px var(--accent-yellow);
  box-shadow: 0 0 0 2px var(--accent-yellow);
}

.basic-label {
  display: block;
  font-size: 1.3em;
  color: white;
  margin: 0.3em;
}

.rating-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2em;
  height: 100%;
}
.rating-grid .rating-wraper {
  padding-top: 10vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.rating-grid .rating-wraper span {
  color: white;
  font-size: 1.5em;
  margin: 1em 0;
}
.rating-grid .rating-wraper .sex-radio-group {
  text-align: center;
  margin: 1em 0;
}
.rating-grid .rating-wraper .rate-buttons-group {
  color: white;
  margin: 1em 0;
}
.rating-grid .rating-wraper .rate-buttons-group .number-button {
  background-color: var(--accent-red);
  border: none;
  font-size: 2em;
  color: white;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

#loadedImage {
  margin-bottom: 2em;
  display: block;
  max-width: 80%;
  max-height: 80%;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  z-index: 5;
  isolation: isolate;
}

.adaptive-image {
  margin-bottom: 2em;
  display: block;
  max-width: 80%;
  max-height: 80%;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  z-index: 5;
  isolation: isolate;
}

.navbar {
  background: transparent;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  height: var(--navbar-heigth);
  width: 100%;
  padding: 1em 0 0 0;
}
.navbar span {
  color: white;
  font-weight: bold;
  position: relative;
  left: 0;
  margin: 0 0 0 1em;
  padding: 0;
  height: 100%;
  width: fit-content;
  font-size: 2em;
  flex-basis: 60%;
}
.navbar a {
  color: white;
  text-decoration: none;
  flex-basis: 15%;
  text-align: center;
  margin: 1em;
}

#rating-image {
  height: 500px;
  width: 500px;
}

/*# sourceMappingURL=styles.css.map */
