{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% include 'navbar.html' %}
<div class="content" style="background-image: url({% static 'img/Background.png' %});">
    <div class="content-grid">
        <div class="description-wraper">
            <div class="description">
                <h3>Welcome to Algerate.com</h3>
                <span class="fs-2">This is an ANONYMOUS website in which people can upload images of themselves and let other people
                rate them. Feel free to submit a photo of yourself if you are feeling curious, or rate other people's
                photos if you are looking for a great time-killer.</span>
                <div class="button-group">
                    <a href="{% url 'submit_photo' %}" class="round-button">Submit a photo</a>
                    <a href="{% url 'rate' %}" class="round-button">Rate</a>
                </div>
            </div>
        </div>
        <div class="image-wraper">
            <img src="{% static 'img/index_splash.png' %}" alt="" class="image">
        </div>
        <div class="navbar-mobile">*Use at your own risk. We are not responsible for any inconveniences this site may
            cause.
        </div>
    </div>
</div>
<footer>
    *Use at your own risk. We are not responsible for any inconveniences this site may cause.
</footer>
</body>
</html>