<div class="navbar">
    <span><a href="{% url 'index' %}">Algerate.com</a></span>
    <a href="{% url 'rate' %}">Rate</a>
    <a href="{% url 'submit_photo' %}">Submit a photo</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
</div>

<label class="mobile-nav-toggle" for="navbar-toggle">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="35" height="35"
         viewBox="0 0 50 50">
        <g id="surface1">
            <path style=" "
                  d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z "></path>
        </g>
    </svg>
</label>
<input hidden type="checkbox" name="navbar-toggle" id="navbar-toggle">
<div class="mobile-nav">
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'rate' %}">Rate</a></li>
        <li><a href="{% url 'submit_photo' %}">Submit a photo</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
</div>