{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% include 'navbar.html' %}
<div class="content" style=" background-image: url({% static 'img/Background.png' %});">
    <div class="rating-grid">
        <div class="a-left"></div>

        <div class="rating-wraper">
            <span class="span">I want to rate</span><br>
            <div class="sex-radio-group">
                <input checked hidden type="radio" name="sex" id="both">
                <label class="sex-radio-label both" for="both">Both</label>
                <input hidden type="radio" name="sex" id="male">
                <label class="sex-radio-label male" for="male">Male</label>
                <input hidden type="radio" name="sex" id="female">
                <label class="sex-radio-label female" for="female">Female</label>
            </div>

            <div class="rate-buttons-group">
                {% for i in rate %}
                    <button class="number-button" id="rate-{{ i }}" value="{{ i }}"
                            onclick="rateButton(this)">{{ i }}</button>
                {% endfor %}
            </div>
            <img class="adaptive-image" id="rating-image" src="" alt="">
            <p>Average rating: <span id="average-number" class="average-number">10</span></p>
        </div>
        <div class="a-right"></div>
        <div class="a-mobile"></div>
    </div>
</div>
<script src="{% static 'js/rating.js' %}"></script>
</body>
</html>
