{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit a photo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

{% include 'navbar.html' %}
<div class="content" style=" background-image: url({% static 'img/Background.png' %});">
    <div class="content-grid">
        <div class="description-wraper">
            <div class="description">
            <span>SUBMIT A PHOTO PAGE</span>
                <div class="button-group">
                    <a href="" class="round-button">Submit a photo</a>
                    <a href="" class="round-button">Rate</a>
                </div>
            </div>
        </div>
        <div class="image-wraper">
            <img src="{% static 'img/index_splash.png' %}" alt="" class="image">
        </div>
    </div>
</div>
</body>
</html>