{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit a photo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% include 'navbar.html' %}
<div class="content" style=" background-image: url({% static 'img/Background.png' %});">
    <form style="display: initial" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content-grid">
            <div class="description-wraper grid-a-left grid-m-top">
                <div class="submit-photo-text description">
                    <h3>How does it works?</h3>
                    <span>
                        It is very simple - After you submit a photo, it will be
                        sent to our e-mail for verification. After verified, we
                        will send a special link to your e-mail with your
                        average rating and the number of votes on your
                        photo. Only YOU will have access to this link unless
                        you decide to share it with someone else, so your
                        anonymity is guaranteed.
                    </span>
                    <label class="basic-label" for="email">Email address</label>
                    <input required type="email" name="email" id="email" placeholder="youremail@example.com">
                    <label class="basic-label" for="age">Age</label>
                    <input required type="number" name="age" id="age" placeholder="Age">
                    <br>
                    <div class="sex-radio-group">
                        <span>I'm</span>
                        <input required type="radio" name="sex" id="male" value="Male">
                        <label class="sex-radio-label male" for="male">Male</label>
                        <input required type="radio" name="sex" id="female" value="Female">
                        <label class="sex-radio-label female" for="female">Female</label>
                    </div>
                    <h3>Rules:</h3>
                    <ul>
                        <li>Only ages 16-25 are allowed;</li>
                        <li>No filters that markedly affect the photo;</li>
                        <li>The face has to be clear and visible;</li>
                        <li>No nudity or NSFW content.</li>
                    </ul>
                </div>
            </div>
            <div class="image-wraper grid-a-right grid-m-bottom">
                <div class="submit-photo-image">
                    <img src="" alt="" id="loadedImage">
                    <div class="file-load-group">
                        <input required class="inputfile" type="file" name="file" id="file" onchange="readURL(this)">
                        <span>Load you photo here</span>
                        <label for="file">Load</label>
                    </div>
                    <input class="round-button" type="submit" value="Submit">
                </div>
            </div>
            <div class="navbar-mobile">*Use at your own risk. We are not responsible for any inconveniences this site
                may
                cause.
            </div>
        </div>
    </form>
</div>
<footer>
    *Use at your own risk. We are not responsible for any inconveniences this site may cause.
</footer>
<script>
    let inputs = document.querySelectorAll('.inputfile');
    Array.prototype.forEach.call(inputs, function (input) {
        let span = input.nextElementSibling,
            spanVal = span.innerHTML;

        input.addEventListener('change', function (e) {
            let fileName = e.target.value.split('\\').pop();

            if (fileName)
                span.innerHTML = fileName;
            else
                span.innerHTML = spanVal;
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('loadedImage').src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</body>
</html>
